.emoji-picker {
    border: 1px solid #dddddd;
    width: 310px;
    display: none;
}

.emoji-picker.visible {
    display: block;
}

.emoji-picker input.search {
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dddddd;
    font-size: 18px;
    width: 275px;
    display: block;
    margin: 10px auto;
}

.emoji-picker .tabs {
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
}

.emoji-picker .emoji {
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emoji-picker .tab.active {
    border-bottom: 2px solid #355AC2;
}

.emoji-picker .tab-body {
    height: 220px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.emoji-picker .collection {
    display: none;
}

.emoji-picker .collection.visible {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.emoji-picker .collection .emoji.hidden {
    display: none;
}

.emoji-picker .collection .emoji:hover {
    background-color: #EEEEEE;
}
    