* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    background-color: white;
}

@media (min-width: 576px) { 
    .container {
        width: 560px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 730px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}