* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-areas: "navbar navbar" "cover aside" "display-settings aside" "products aside";
  grid-template-columns: 1fr 250px;
  grid-template-rows: 20px 150px auto 1fr;
  gap: 20px;
}
@media (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

nav {
  grid-area: navbar;
}

.cover {
  grid-area: cover;
  background-image: url("../img/ecommerce.png");
  background-size: cover;
  background-position: center;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
aside .side-menu {
  padding: 20px;
  border: 2px solid #EEEEEE;
  overflow: auto;
  scrollbar-width: thin;
}
aside .nested-menu ul.collapsed ul, aside .nested-menu ul.collapsed li:not(:first-of-type) {
  display: none;
}
aside .nested-menu ul ul, aside .nested-menu ul li:not(:first-of-type) {
  padding-left: 5px;
}
aside .categories {
  height: 230px;
}
aside .header {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 1.7;
}
aside .header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: orange;
}
aside ul, aside li {
  margin-bottom: 8px;
}
aside .nested-menu-icon {
  margin-left: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0 5px;
}
aside .nested-menu-icon.active {
  transform: rotate(180deg);
}
aside .colors a {
  margin-left: 20px;
}
aside .colors li {
  position: relative;
}
aside .colors li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 1px 0px rgba(180, 173, 173, 0.8);
}
aside .colors li[color=gray]::before {
  background-color: gray;
}
aside .colors li[color=white]::before {
  background-color: white;
}
aside .colors li[color=black]::before {
  background-color: black;
}
aside .colors li[color=camel]::before {
  background-color: burlywood;
}
aside .colors li[color=orange]::before {
  background-color: orange;
}
@media (max-width: 992px) {
  aside {
    display: none;
  }
}

.display-settings {
  grid-area: display-settings;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #F2F2F2;
}
.display-settings .prodcuts-layout-icon {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #C2C2C2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.display-settings .prodcuts-layout-icon.active {
  background-color: black;
}
.display-settings .summary-label {
  min-width: 150px;
}
.display-settings .products-count {
  margin-left: auto;
}
.display-settings .sort-by-label {
  min-width: 55px;
}
.display-settings .products-count {
  min-width: 80px;
}
.display-settings .sort-by {
  min-width: 250px;
}
.display-settings select {
  height: 25px;
  background-color: white;
  border: none;
  outline: none;
}
.display-settings .products-count-select {
  max-width: 40px;
}
.display-settings .sort-by-select {
  max-width: 175px;
}
@media (max-width: 992px) {
  .display-settings .summary-label {
    width: calc(100% - 80px);
  }
  .display-settings .products-count {
    margin-left: 0;
  }
}

.products {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}
.products .product-img-wrapper {
  flex-basis: 400px;
  position: relative;
  cursor: pointer;
}
.products .product-img-wrapper::before {
  content: "-12%";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products img {
  max-width: 100%;
}
.products .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.products .rating-star {
  font-size: 13px;
}
.products .rating-star.colored {
  color: gold;
}
.products .title {
  font-size: 15px;
  font-weight: 500;
}
.products .stock .count {
  font-weight: 500;
}
.products .price .old {
  text-decoration: line-through;
}
.products .price .current {
  font-size: 15px;
  font-weight: 500;
  color: orangered;
}
.products .description {
  line-height: 1.7;
  margin: 10px 0;
}
.products .shortcuts-icons {
  display: flex;
  align-items: center;
}
.products .shortcut-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.products .shortcut-icon:hover {
  color: orangered;
}/*# sourceMappingURL=15-ecommerce.css.map */