:root {
    --color-purple: #45379E;
    --menu-color: #cdcdcd;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input[type='checkbox'] {
    cursor: pointer;
}

body {
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 200px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translateY(100%);
    border: 1px solid var(--menu-color);
    display: none;
    color: black;

    &.visible {
        z-index: 2;
        display: block;
    }
}

.menu-item {
    padding: 20px 10px;
    border-bottom: 1px solid var(--menu-color);
    transition: background-color 0.1s;
    font-size: 15px;
    
    &:hover {
        color: white;
        font-weight: 500;    
        background-color: var(--menu-color);
    }
}

header {
    height: 70px;
    padding: 20px 0;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        font-weight: 500;
        font-size: 22px;
    }

    .header-control-icon {
        font-size: 20px;
        margin-left: auto;
        cursor: pointer;
        position: relative;
    }
}

main {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 100px;
    grid-template-rows: auto auto 1fr auto;
    row-gap: 10px;
    column-gap: 20px;
    align-items: start;
    height: calc(100vh - 85px);

    .row {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 100px;
        grid-column: 1 / span 4;
        column-gap: 20px;
    }

    .footer-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / span 4;
        align-items: center;
    }

    .cell-3-col {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    
    .cell-3-col:first-of-type {
        grid-template-columns: auto 1fr 1fr;
    }
}

.search-bar {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 100px;
    grid-column: 1 / span 4;

    input {
        border: none;
        outline: none;
        border-radius: 2px;
        padding: 10px 20px;
    }

    input[type="text"] {
        background-color: #F0F1F3;
    }

    input[type="submit"] {
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(90deg, var(--color-purple), #7324A0);
        cursor: pointer;
        display: block;
    }
}

.orders-header {
    padding: 10px 0;
    border-bottom: 2px solid #EEEEEE;

    span {
        font-weight: 500;
    }

    .sort-icon {
        padding: 0 5px;
        cursor: pointer;
        transition: 0.3s;

        &.reverse-sort {
            transform: rotate(180deg);
        }
    }

    .sortable {
        display: block;
    }
}

.orders {
    // height: 100%;
    overflow-y: auto;
    // align-items: start;
    // grid-template-rows: auto 1fr;
}

.order {
    padding: 10px 0;
    border-bottom: 1px solid #EEEEEE;

    .item-img {
        height: 35px;
    }

    .quantity {
        width: 50px;
        height: 30px;
        text-align: center;
        outline: none;
        border: 1px solid #EEEEEE;
    }

    .order-settings-icon {
        cursor: pointer;
        margin-left: auto;
        position: relative;
        align-self: center;
    }

    .menu-item.del:hover {
        background-color: rgb(228, 4, 4);
    }
}

.pagination {
    display: flex;
    align-items: center;

    .pagination-control {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .page-link {
        text-decoration: none;
    }

    .prev, .next {
        &:hover {
            text-decoration: underline;
            color: black;
        }
    }

    .page-link.number {
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 400;
        border: 1px solid #EEEEEE;
        display: inline-block;

        &.active {
            color: white;
            background-color: var(--color-purple);
        }

        &:hover {
            color: white;
            background-color: var(--color-purple);
        }
    }
}