:root {
    --main-text-color: rgb(0 0 0 / 30%);
    --color-purple: #45379E;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

header {
    --menu-secondary-color: #cdcdcd;

    display: flex;
    align-items: center;
    padding-top: 20px;

    h1 {
        margin: 0;
        font-weight: 500;
        font-size: 22px;
    }

    .header-control-icon {
        font-size: 20px;
        margin-left: auto;
        cursor: pointer;
        color: var(--main-text-color);
        position: relative;
    }

    .control-menu {
        width: 200px;
        background-color: white;
        position: absolute;
        bottom: -5px;
        right: 0;
        transform: translateY(100%);
        border: 1px solid var(--menu-secondary-color);
        display: none;
        color: black;
        z-index: 999;

        &.visible {
            display: block;
        }
    }

    .control-menu-item {
        padding: 20px 10px;
        border-bottom: 1px solid var(--menu-secondary-color);
        transition: 0.3s;
        font-size: 15px;

        &:hover {
            background-color: var(--menu-secondary-color);
        }
    }
}

main {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 150px;
    grid-template-rows: auto auto 1fr auto;
    row-gap: 10px;
    column-gap: 20px;
    min-height: 0;

    .row {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 150px;
        grid-column: 1 / span 4;
        column-gap: 20px;
        align-items: center;
    }

    .footer-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / span 4;
        align-items: center;
    }

    .cell-3-col {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    
    .cell-3-col:first-of-type {
        grid-template-columns: auto 1fr 1fr;
    }
}

.search-bar {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 150px;
    grid-column: 1 / span 4;

    input {
        border: none;
        outline: none;
        border-radius: 2px;
        padding: 10px 20px;
    }

    input[type="text"] {
        background-color: #F0F1F3;
    }

    input[type="submit"] {
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(90deg, var(--color-purple), #7324A0);
        cursor: pointer;
        display: block;
    }
}

.orders-header {
    border-bottom: 2px solid #EEEEEE;

    span {
        font-weight: 500;
    }

    .sort-icon {
        padding: 0 5px;
        cursor: pointer;
        transition: 0.3s;

        &.reverse-sort {
            transform: rotate(180deg);
        }
    }

    .sortable {
        display: block;
    }
}

.orders {
    overflow-y: auto;
}

.order {
    padding: 5px 0;
    border-bottom: 1px solid #EEEEEE;

    .select {
        cursor: pointer;
    }

    .quantity {
        width: 50px;
        height: 30px;
        text-align: center;
        outline: none;
        border: 1px solid #EEEEEE;
    }

    .order-settings-icon {
        cursor: pointer;
        margin-left: auto;
    }

    .item-img {
        height: 35px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .pagination-control {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .page-link {
        text-decoration: none;
        color: var(--main-text-color);
    }

    .prev, .next {
        &:hover {
            text-decoration: underline;
            color: black;
        }
    }

    .page-link.number {
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 400;
        border: 1px solid #EEEEEE;
        display: inline-block;

        &.active {
            color: white;
            background-color: var(--color-purple);
        }

        &:hover {
            color: white;
            background-color: var(--color-purple);
        }
    }
}