:root {
  --color-purple: rgb(69, 55, 158);
  --menu-color: #cdcdcd;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input[type=checkbox] {
  cursor: pointer;
}

body {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 200px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: 0;
  transform: translateY(100%);
  border: 1px solid var(--menu-color);
  display: none;
  color: black;
}
.menu.visible {
  z-index: 2;
  display: block;
}

.menu-item {
  padding: 20px 10px;
  border-bottom: 1px solid var(--menu-color);
  transition: background-color 0.1s;
  font-size: 15px;
}
.menu-item:hover {
  color: white;
  font-weight: 500;
  background-color: var(--menu-color);
}

.checkbox-label {
  margin-left: 5px;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.checkbox-label input {
  display: none;
}
.checkbox-label:has(input:checked) {
  border: none;
  background: linear-gradient(90deg, var(--color-purple), #7324A0);
  box-shadow: 0px 0px 5px 2px rgba(69, 55, 158, 0.3);
}

header {
  height: 70px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
header h1 {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
}
header .header-control-icon {
  font-size: 20px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 100px;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 10px;
  column-gap: 20px;
  align-items: start;
  overflow-x: auto;
  height: calc(100vh - 85px);
}
main .row {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 100px;
  grid-column: 1/span 4;
  column-gap: 20px;
}
main .footer-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1/span 4;
  align-items: center;
}
main .cell-3-col {
  display: grid;
  align-items: center;
  column-gap: 10px;
}
main .cell-3-col:nth-of-type(1) {
  grid-template-columns: auto 1fr 1fr;
}
main .cell-3-col:nth-of-type(2) {
  grid-template-columns: minmax(60px, auto) minmax(120px, auto) 1fr;
}
main .cell-3-col:nth-of-type(3) {
  grid-template-columns: minmax(70px, auto) minmax(100px, auto) minmax(70px, auto);
}

.search-bar {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 100px;
  grid-column: 1/span 4;
}
.search-bar input {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px 20px;
}
.search-bar input[type=text] {
  background-color: #F0F1F3;
}
.search-bar input[type=submit] {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--color-purple), #7324A0);
  cursor: pointer;
  display: block;
}

.orders-header {
  padding: 10px 0;
  border-bottom: 2px solid #EEEEEE;
}
.orders-header span {
  font-weight: 500;
}
.orders-header .sort-icon {
  padding: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
.orders-header .sort-icon.reverse-sort {
  transform: rotate(180deg);
}

.orders {
  height: 100%;
  overflow-y: auto;
  align-items: start;
  grid-auto-rows: max-content;
}

.order {
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
.order .item-img {
  height: 35px;
}
.order .quantity {
  width: 50px;
  height: 30px;
  text-align: center;
  outline: none;
  border: 1px solid #EEEEEE;
}
.order .confirmed, .order .pending, .order .failed {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  font-weight: 400;
}
.order .confirmed {
  background-color: #2CE5C0;
}
.order .pending {
  background-color: #FFB74D;
}
.order .failed {
  background-color: rgb(228, 4, 4);
}
.order .order-settings-icon {
  cursor: pointer;
  margin-left: auto;
  position: relative;
  align-self: center;
  font-size: 17px;
}
.order .flipped-menu {
  bottom: initial;
  top: -5px;
  transform: translateY(-100%);
}
.order .menu-item {
  padding: 15px 10px;
}
.order .menu-item.del:hover {
  background-color: rgb(228, 4, 4);
}

.pagination {
  display: flex;
  align-items: center;
}
.pagination .pagination-control {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.pagination .page-link {
  text-decoration: none;
}
.pagination .prev:hover, .pagination .next:hover {
  text-decoration: underline;
  color: black;
}
.pagination .page-link.number {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #EEEEEE;
  display: inline-block;
}
.pagination .page-link.number.active {
  color: white;
  background-color: var(--color-purple);
}
.pagination .page-link.number:hover {
  color: white;
  background-color: var(--color-purple);
}/*# sourceMappingURL=16-orders-list.css.map */