:root {
    --footer-text-color: rgba(255, 255, 255, 0.5);
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}

.site-info {
    padding: 30px 0;
    font-size: 13px;
    background-color: #333333;
    color: var(--footer-text-color);
    
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer-col {
        display: flex;
        flex-direction: column;
    }

    .contact-us-col {
        max-width: 400px;
    }

    .newsletter-col {
        max-width: 300px;
    }

    .footer-col-header {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 20px;
        color: white;
    }

    .contact-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .summary {
            grid-column: 1/span 2;
            margin-bottom: 10px;
        }

        .address-type {
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .address-value {
            font-weight: 700;
            color: white;
        }
    }

    nav a {
        display: block;
        color:  var(--main-text-color);
        margin-bottom: 10px;
    }

    .newsletter {
        form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;
        }

        .form-description {
            width: 100%;
        }

        input[type="text"] {
            height: 30px;
            padding: 5px;
            max-width: 250px;
        }

        input[type="submit"] {
            height: 30px;
            padding: 5px 20px;
            color: white;
            background-color: #E52727;
            border: none;
        }

        .social-media-links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
        }

        .description {
            width: 100%;
        }

        a:hover {
            text-decoration: none;
        }
        
        .icon {
            width: 25px;
            height: 25px;
            font-size: 13px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon-facebook {
            color: white;
            background-color: #3C5A99;
        }

        .icon-twitter {
            color: white;
            background-color: #00A2E8;
        }

        .icon-youtube {
            color: white;
            background-color: #E52E2E;
        }

        .icon-instagram {
            color: white;
            background-color: #815DC7;
        }

        .icon-rss {
            color: black;
            background-color: #FFC338;
        }
    }
}

footer {
    font-size: 13px;
    padding: 20px 0;
    color: var(--footer-text-color);
    background-color: #2B2B2B;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    span:first-of-type a {
        color: white;
    }

    img {
        width: 40px;
    }
}